[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/adoronin/DZ25-Insta
ExecStart=/home/adoronin/DZ25-Insta/venv/bin/python -m flask run -h 0.0.0.0 -p 80
Restart=always

[Install]
WantedBy=multi-user.target