[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/adoronin/instagram/
ExecStart=/home/adoronin/instagram/env/bin/python -m flask run -h 0.0.0.0 -p 25000
Environment=FLASK_APP=app.py
Restart=always

[Install]
WantedBy=multi-user.target