[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/adoronin/DZ25-Insta
ExecStart=/home/adoronin/DZ25-Insta/venv/bin/python -m gunicorn -b 0.0.0.0:80 -w  4
Restart=always

[Install]
WantedBy=multi-user.target